
body {
  background-color: rgb(35, 9, 49);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(103, 34, 186);
  background-color: rgb(138, 56, 173);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(138, 17, 130);
  z-index: 2;
}

#snake-head {
  background-color: rgb(74, 8, 74);
}

.apple {
  background-color: rgb(34, 3, 42);
  z-index: 1;
}